<body>
<h1>Contact</h1>
     <form name="form" action="/action_page.php" onsubmit="return validateForm()" method="post">
        Name:<br>
        <input type="text" name="firstname" value="">
        <br>
        E-Mail:<br>
        <input type="text" name="email" value="">
        <br>
        Message:<br>
        <textarea id="subject" name="subject" placeholder="Write something.." style="width:173px;height:173"></textarea>
        <br>
        <table class="button">
            <tr>
                <td>
                <input type="submit" value="Submit">
                </td>
                <td>
                <input type="reset" value="Clear All">
                </td>
            </tr>
        </table>     
  </form>
</body>
