

      
    
    <div class="navbar" >
      <a *ngFor ="let item of arrayOne" (click) = "onNavigate(item)">{{item.name}}</a>

    </div>

 <br><br>
 <body>
 <img src="assets/Capture.PNG">
        <h1>Thulani Nocuza</h1>
        <h2>BIO</h2>
        <p>I am a hard working individual that loves coding and is still eager to learn and reach new hights and i am currently working and mlab</p>
  </body>

  <footer class = "center">
    <p>Contact information: 0617743483</p>
    <p>Email adress: nocuzat@gmail.com</p>
    <p>Created By Thulani Nocuza</p>
  </footer>
<router-outlet></router-outlet>