Body{
    text-align: center;
     }
table.center {
    margin-left:auto; 
    margin-right:auto;
    width:500;
    }
footer{
    background-color: lightskyblue;
    float: initial;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.navbar {
    overflow: hidden;
    background-color:lightblue;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
  .main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px;
  }
  table.button {
    margin-left:auto; 
    margin-right:auto;
    }