<body>
  <h1>CURRICULUM VITAE</h1>
  <h2>Personal Information</h2>
  <table class="center">
      <tr>
          <td>Name</td>
          <td>:Thulani</td>
      </tr>
      <tr>
          <td>Surname</td>
          <td>:Nocuza</td>
      </tr>
      <tr>
          <td>Date of birth</td>
          <td>:19 May 1993</td>
      </tr>
      <tr>
          <td>ID Number</td>
          <td>:9305196005085</td>
      </tr>
      <tr>
          <td>Gender</td>
          <td>:Male</td>
      </tr>
      <tr>
          <td>Nationality</td>
          <td>:South African</td>
      </tr>
      <tr>
          <td>Contact Number</td>
          <td>:0617743483</td>
      </tr>
      <tr>
          <td>email</td>
          <td>:nocuzat@gmail.com</td>
      </tr>
  </table>
  <h2>Education and Qualification</h2>
  <table class="center">
      <tr>
          <th>Qualification</th>
          <th>Institution/School</th>
          <th>Year From</th>
          <th>Year Finished</th>
      </tr>
      <tr>
              <td>Btech:IT(Software Development)</td>
              <td>Tshwane University of Technology</td>
              <td>2019</td>
              <td>Present</td>
      </tr>
      <tr>
              <td>NDip:IT(Software Development)</td>
              <td>Walter Sisulu University of Technology</td>
              <td>2016</td>
              <td>2019</td>
      </tr>
      <tr>
              <td>Matric Certificate</td>
              <td>St Christophers Private School</td>
              <td>2011</td>
              <td>2015</td>
      </tr>
  </table>
  <h2>Skills</h2>
  <h3>Computer skills</h3>
  <p>Microsoft Office, Adobe PageMaker, Adobe Illustrator, Adobe Photoshop,Dreamweaver, Unix, Linux, Oracle.</p>
  <h3>Leadership skills</h3>
  <p>Leader mostly in group projects we have been doing.</p>
</body>

